@using P2PReview.Application.Interfaces
@using P2PReview.Web.Components.Icons
@using P2PReview.Application.Users.DTOs
@using P2PReview.Web.Services
@using P2PReview.Web.State

@inherits LayoutComponentBase

@inject NavigationManager Navigation
@inject UserContext UserContext
@inject AvatarUrlProvider AvatarUrlProvider

@implements IDisposable

<div class="app">
    <header class="top-bar">
        <div class="top-bar-content">
            
            <div class="logo">
                <a href="/">
                    <CodeBubbleIcon />
                    <span>P2P Review</span>
                </a>
            </div>

            <div class="top-bar-links">

                <div class="notifications-icon">
                    <i class="fa-regular fa-bell"></i>
                    @* <span class="badge">0</span> *@
                </div>

                <a href="/profile" class="top-link">
                    <i class="fa-solid fa-bolt"></i>
                    <span>@(UserContext.Profile?.QualityScore ?? 0)</span>
                </a>

                <a href="/profile" class="top-link">
                    <img class="avatar-topbar"
                         src="@AvatarUrlProvider.GetAvatarUrl(UserContext.Profile?.AvatarId)" />
                </a>
            </div>

        </div>
    </header>

    <main class="content">
        @Body
    </main>
</div>


@code {
    protected override async Task OnInitializedAsync()
    {
        UserContext.OnChange -= HandleUserChanged;
        UserContext.OnChange += HandleUserChanged;

        await UserContext.InitializeAsync();
    }

    private void HandleUserChanged()
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        UserContext.OnChange -= HandleUserChanged;
    }
}