@page "/profile/{userId:guid}"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using P2PReview.Application.Interfaces
@using P2PReview.Application.User.DTOs
@using P2PReview.Application.User.Queries
@using System.Security.Claims

@rendermode InteractiveServer

@attribute [Authorize]

@inject IUserService UserService
@inject NavigationManager Nav
@inject AuthenticationStateProvider AuthStateProvider

<h3>Профиль</h3>

@if (isLoading)
{
    <p>Загрузка...</p>
}
else if (profile is null)
{
    <p>Пользователь не найден</p>
}
else
{
    <div class="profile-card">

        <div class="header">
            <img src="@profile.AvatarUrl" class="avatar" />

            <div>
                <h4>@profile.UserName</h4>
                <p>Quality Score: @profile.QualityScore</p>
            </div>
        </div>


        <h5>Последние ревью</h5>

        @if (false == true)
        {
        }
        else
        {
            <p>Нет ревью</p>
        }

        @if (profile.IsOwnProfile)
        {
            <div class="actions">
                <button @onclick="GoToEdit">Редактировать</button>
            </div>
        }
    </div>
}

@code {
    [Parameter] public Guid UserId { get; set; }

    private UserProfileDto? profile;
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        await LoadProfile();
    }

    private async Task LoadProfile()
    {
        isLoading = true;

        try
        {
            var authState = await AuthStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;

            var currentUserIdClaim = user.FindFirst(ClaimTypes.NameIdentifier)?.Value;

            Guid? currentUserId = Guid.TryParse(currentUserIdClaim, out var id)
                ? id
                : null;

            if (currentUserId == null)
            {
                profile = null;
                return;
            }

            var query = new GetUserProfileQuery(UserId, currentUserId);
            
            profile = await UserService.GetUserProfileAsync(query);
        }
        catch
        {
            profile = null;
        }

        isLoading = false;
    }

    private void GoToEdit()
    {
        Nav.NavigateTo("/settings/profile");
    }
}