@using P2PReview.Application.ReviewResponses
@using P2PReview.Domain.Enums

@inject IJSRuntime JS
@implements IAsyncDisposable

<div id="@_editorId"
     class="monaco-host">
</div>


@code {
    [Parameter] public List<ReviewResponseCommentDto> Comments { get; set; } = new();

    [Parameter] public bool ReadOnly { get; set; } = false;

    [Parameter] public string Value { get; set; } = "";

    [Parameter] public EventCallback<string> ValueChanged { get; set; }

    [Parameter] public CodeLanguage CodeLanguage { get; set; } = CodeLanguage.JavaScript;

    private readonly string _editorId = $"monaco_{Guid.NewGuid():N}";
    private DotNetObjectReference<MonacoEditor>? _objRef;
    private bool _initialized;
    private string? _previousLanguage;
    private string? _previousValue;
    private string? _previousCommentsHash;

    private string language => CodeLanguage switch
    {
        CodeLanguage.CSharp => "csharp",
        CodeLanguage.JavaScript => "javascript",
        CodeLanguage.TypeScript => "typescript",
        CodeLanguage.Python => "python",
        CodeLanguage.Java => "java",
        CodeLanguage.Go => "go",
        CodeLanguage.Rust => "rust",
        CodeLanguage.Cpp => "cpp",
        CodeLanguage.Php => "php",
        CodeLanguage.Swift => "swift",
        CodeLanguage.Kotlin => "kotlin",
        CodeLanguage.Sql => "sql",
        CodeLanguage.Html => "html",
        CodeLanguage.Css => "css",
        CodeLanguage.Json => "json",
        _ => "plaintext"
    };

    private string GetCommentsHash()
    {
        if (Comments == null || Comments.Count == 0)
            return "";

        return string.Join("|", Comments
            .OrderBy(x => x.Line)
            .Select(x => $"{x.Line}:{x.Type}"));
    }


    protected override async Task OnParametersSetAsync()
    {
        if (!_initialized)
            return;

        if (_previousLanguage != language)
        {
            _previousLanguage = language;

            await JS.InvokeVoidAsync(
                "monacoInterop.setLanguage",
                _editorId,
                language
            );
        }

        if (_previousValue != Value)
        {
            _previousValue = Value;

            try
            {
                await JS.InvokeVoidAsync(
                "monacoInterop.setValue",
                _editorId,
                Value);
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex);
            }
        }

        var hash = GetCommentsHash();

        if (_previousCommentsHash != hash)
        {
            _previousCommentsHash = hash;

            await MarkComments();
        }
    }

    public async Task MarkComments()
    {
        if (!_initialized)
            return;

        try
        {
            await JS.InvokeVoidAsync(
                "monacoInterop.markComments",
                _editorId,
                Comments);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _initialized = true;

            _previousLanguage = language;
            _previousValue = Value;

            _objRef = DotNetObjectReference.Create(this);

            try
            {
                await JS.InvokeVoidAsync(
                "monacoInterop.init",
                _editorId,
                language,
                Value,
                ReadOnly,
                _objRef
                );
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex);
            }

        }

        await MarkComments();
    }

    [JSInvokable]
    public async Task OnEditorValueChanged(string value)
    {
        Value = value;

        await ValueChanged.InvokeAsync(value);
    }

    public async ValueTask DisposeAsync()
    {
        _objRef?.Dispose();

        try
        {
            await JS.InvokeVoidAsync(
                "monacoInterop.dispose",
                _editorId
            );
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
    }
    public async Task HighlightLine(int line)
    {
        try
        {
            await JS.InvokeVoidAsync(
            "monacoInterop.highlightLine",
            _editorId,
            line);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
    }


    [JSInvokable]
    public async Task OnLineClicked(int line)
    {
        if (!ReadOnly)
        {
            await HighlightLine(line);
        }
    }
}